In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("./data/RecreationDemand.csv")
data.head()

   trips  quality  ski  income userfee  costC   costS   costH
0      0        0  yes       4      no  67.59  68.620  76.800
1      0        0   no       9      no  68.86  70.936  84.780
2      0        0  yes       5      no  58.12  59.465  72.110
3      0        0   no       2      no  15.79  13.750  23.680
4      0        0  yes       3      no  24.02  34.033  34.547